*, *:before, *:after {box-sizing: border-box;}

body {
  background-color: black;
  font-family: Roboto, sans-serif;
}

.wrapper{
  background-color: white;
  margin: 64px auto;
  position: relative;
  width: 360px;
  color: #fffffff;
}

.container {
  margin: 0 auto;
  width: 360px;
}

.ul{
  list-style: none;
  padding: 0;
}

.icons {
  margin: 0 auto;
  padding: 40px 16px 16px;
  width: 360px;
  background-color: #26A69A;
  color: white;
  padding: 16px;
  line-height: 16px;
  left: 0;
  right: 0;
  z-index: 2;
  text-align:  center;
  box-shadow: 0 1px 1px rgba(0,0,0,.16), 0   1px 1px rgba(0,0,0,.24);
}

h6 {
  display: inline;
  font-weight: bold;
  text-align:  center;
  font-size: 16px;
  font-family: sans-serif;
}

.fa{
  padding-top: 16px;
  padding-bottom: 16px;
}

.fa-arrow-left {
  font-size: 16px;
  padding-left: 16px;
  float:  left;
  display: inline;
}

.fa-star {
  float:  right;
  font-size: 16px;
  padding-left: 16px;
  display: inline;
}

.fa-sync {
  float:  right;
  padding-right:  16px;
  font-size: 16px;
  display: inline-block;
}

b{
  font-size: 16px;
  vertical-align: middle;
  width: 5%;
  margin-left: 16px;
  text-indent: 15px;
}

p{
  text-align:  left;
  font-size: 13px;
  font-family: sans-serif;
  vertical-align: middle;
  padding-left: 30px;
}

strong {
  font-size: 15px;
  color: #0047AB;
  float: left; 
  padding: 1px 5px 15px;
}

strong, b {
  display:  inline;
  width: 20%;
  margin-left: 1px;
}

.bus-stops {
  background-color: #F5F5F5;
}

.bus-list{
  display: table;
  width: 100%;
  padding: 10px 0;
  list-style: none;
  margin: 0 auto;
  width: 360px;
  height: 520px;
  padding-top: 11px;
  overflow: hidden;
}

.info {
  margin-right: 5px;
  font-size: 24px;
  height: 24px;
  vertical-align: right;
  line-height: 1em;
}

b, info {
  display: inline;
}
ul.bus-list li{
  display: table-row;
  height: 70px;
  line-height: 1em;
}

ul.bus-list li > *{
  display: table-cell;
  margin: 0;
  padding: 10px;
  vertical-align: middle;
}
ul.bus-list li > :first-child{
  padding-left: 16px;
}
ul.bus-list li > :last-child{
  padding-right: 16px;
}

ul.bus-list .mad-list-text{
  background: light-grey;
}

ul.mad-list .info{
  padding-left: 16px;
  width: 1px;
  text-align: center;
  background: rgba(245, 245, 245, 1);
}

.border-bottom{
  border-bottom:1px solid rgba(0,0,0,0.1);
}
